<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p>
        Statistics: <br>
        Vladimir: <br>
        Vladimirovich: <br>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/" role="button">Continue to homepage</a>
    </p>
</div>